<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ImagesDirectoryPath" value="../../images/" /> <!--paths of images folder-->
		<add key="MaximumImagesCount" value="2" /> <!--Number of tries-->
		<add key="ItemSpeed" value="10" /> <!--Speed of image fall-->
		<add key="GameTimerIntervalMs" value="100" /> <!--interval to call event-->
		<add key="MovingAnitmationTime" value="1" /> <!--duration of moving animation-->
		<add key="AnimationsTimeInterval" value="1.1" /> <!--interval after fading animation will start-->
		<add key="FadingAnimationTime" value="0.4" /> <!--duration of fading animation-->
	</appSettings>
</configuration>